nav{width:100%;
float:none;
}
nav>ul>li{
padding-left:0px;
margin-top:7px;
padding-right:5px;
float:left;
border-radius:0px;
border-left-width:1px;
background-color:transparent;
padding-left:5px;
}
nav>ul>li>a{
color:black;
text-decoration:none;
}
nav>ul>li>a:Hover{
color:blue;
text-decoration:underline
}
body>div>div{
float:none;
width:100%;
min-height:10px;
display:block;
padding-top:10px;
overflow:auto;
}
.grupos{
border-radius:10px;
border:1px solid black;
padding:10px;
width:100px;
text-align:center;
margin:5px;
cursor:pointer;
}
.grupos:Hover{
background-color:cyan;
}
.grupo{
overflow:auto;
}
